* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: darkgrey; */
}
.sortAZ {
  display: inline-block;
  padding: 0.5rem;
  cursor: pointer;
}
.services-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
.services-list li {
  padding: 2rem;
  &:hover {
    background-color: rgb(241, 241, 241);
  }
}
nav menu ul {
  display: flex;
  justify-content: flex-end;
}
nav menu ul li {
  padding: 1rem;
  list-style: none;
}

nav menu ul li a {
  text-decoration: none;
  color: black;
  &.active {
    font-weight: bold;
  }
}
.compare-btn,
.compare-btn-label {
  cursor: pointer;
  &:hover {
    color: #05f;
  }
}
.compare-container {
  position: fixed;
  bottom: 0;
  height: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.178);
  pointer-events: none;
  transition: all ease 0.4s;
  &.active {
    height: 125px;
    transition: all ease 0.4s;
  }
}
.compare-container-visibility {
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 20px;
}
