* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: darkgrey; */
}
.sortAZ {
  display: inline-block;
  padding: 0.5rem;
  cursor: pointer;
}
.services-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
.services-list li {
  padding: 2rem;
  cursor: pointer;
  &:hover {
    background-color: rgb(241, 241, 241);
  }
}
nav menu ul {
  display: flex;
  justify-content: flex-end;
}
nav menu ul li {
  padding: 1rem;
  list-style: none;
}

nav menu ul li a {
  text-decoration: none;
  color: black;
  &.active {
    font-weight: bold;
  }
}
